.daterate-wrapper .fieldset-wrapper > .form-item .label,
.daterate-wrapper .fieldset-wrapper > .form-item label {
  display: block;
}

.daterate-wrapper .fieldset-wrapper > .form-item input {
  width: 100%;
}

@media screen and (min-width: 600px) {
  .daterate-wrapper .fieldset-wrapper {
    display: block;
  }

  .daterate-wrapper .fieldset-wrapper:after {
    content: '';
    display: table;
    clear: both;
  }

  .daterate-wrapper .fieldset-wrapper > .form-item {
    display: inline-block;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    padding: 0 5px;
  }

  .daterate-wrapper--date-rate .fieldset-wrapper > .form-item {
    width: 49%;
  }

  .daterate-wrapper--date-time-rate .fieldset-wrapper > .form-item:first-child {
    width: 67%;
  }

  .daterate-wrapper--date-time-rate .fieldset-wrapper > .form-item:last-child {
    width: 32%;
  }

  .daterate-wrapper .fieldset-wrapper > .form-item:first-child {
    padding-left: 0;
    float: left;
  }

  .daterate-wrapper .fieldset-wrapper > .form-item:last-child {
    padding-right: 0;
    float: right;
  }

  .daterate-wrapper--date-time-rate .fieldset-wrapper > .form-item:first-child input {
    width: 49%;
  }
}
